<h4>Inclusão de Ficha do Paciente {{id}}</h4>


<mat-card class="dados-card">
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome" value="" id="nome" [(ngModel)]="modelo.nome" enabled=false>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" value="" id="email" [(ngModel)]="modelo.email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="CPF" value="" id="cpf" [(ngModel)]="modelo.cpf">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Nascimento" [(ngModel)]="modelo.nascimento">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Login" [(ngModel)]="modelo.login">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Senha" [(ngModel)]="modelo.senha">
    </mat-form-field>
    <br>
    <button mat-button (click)="salvar(modelo)">Salvar</button>
    <button mat-button (click)="cancelar()">Cancelar</button>
</mat-card>