<br>
<br>
<br>

<ul>
    <h4>Implementar Controle de Acesso</h4>

    <li>Implementar autenticação no servidor</li>
    <li>Implementar autorização </li>
    <li>Mostrar (no menu) o usuário logado</li>
    <li>No menu, mostrar opção de logout se o usuário estiver logado e de login se não estiver</li>
</ul>

<ul>
    <h4>Lista de Pendências do Projeto Base</h4>

    <li>Implementar mensagem de carregando para processos de mudança de pagina</li>
    <li>Fazer o CRUD de Usuários</li>
    <li>Implementar login via LDAP da UFJF</li>
    <li>Verificar se existe alguma informação parametrizavel e adicionar. Caso contrario, retirar opção de Configurações.
        Dados do LDAP por exemplo.</li>
</ul>
<br>
<ul>
    <h4>Lista de Pendências do Projeto "Acadêmico Assistencial"</h4>

    <li>Implementar o módulo de backend</li>
    <li>Implementar o lançamento de atendimentos (tem que pesquisar o paciente, abrir tela do paciente, selecionar o curso
        e o atendimento) </li>
    <li>Na pesquisa do paciente, implementar componente de Histórico de Atendimentos</li>
    <li>Fazer o CRUD de Bairros</li>
    <li>Fazer o CRUD de Cursos</li>
    <li>Fazer o CRUD de Procedimentos (de um curso)</li>
    <li>Na HomePage incluir informações estatisticas</li>
</ul>
<br>
<ul>
    <h4>Pendências para o acabamento do Projeto "Acadêmico Assistencial"</h4>
    <li>Melhorar Design e UX</li>
    <li>Melhorar a subcomponentização do sistema</li>
    <li>Limpar o código e documentá-lo para facilitar a manutenção</li>
    <li>Fazer correção ortográfica nos textos do sistema</li>
</ul>