<br>
<br>
<br>
<DIV class="container">
        <img src="/assets/img/NTI.png" class="logonti">
        <br>
</DIV>
<br>
<br>

<h4>Informações sobre o sistema</h4>
<p>Este sistema foi uma solicitação do Diretor da UFJF/GV e tem como objetivo documentar os atendimentos assistenciais da
    universidade permitindo medir o impacto da instituição na comunidade valadarense.</p>
<p>O sistema consiste basicamente do registro de atendimentos assistenciais. </p>
<p>Deve-se permitir: </p>

<ul>
    <li>Cadastrar o paciente registrando seu endereço e seus contatos.</li>
    <li>Pesquisar um paciente cadastrado (por nome ou CPF)</li>
    <li>Lançar um atendimento a um paciente</li>
    <li>Visualizar o historico de atendimento de um determinado paciente.</li>
</ul>

<p>O sistema deve permitir a extração de informações através da visualização dos atendimentos por: </p>
<ul>
    <li>Curso</li>
    <li>Procedimento</li>
    <li>Bairro</li>
</ul>

<p>Outras informações poderão ser extraídas e outros registros poderão ser implementados à medida que os usuários solicitarem.</p>


<h4>Equipe</h4>
<p>Desenvolvido pelo setor de Sistemas da UFJF/GV</p>
<ul>
    <li>Felipe Rooke da Silva - (33)99999-0000</li>
    <li>Jefferson P. Aniceto - (33)98816-0517</li>
</ul>
<p>Gerente: Diener Maick Piske</p>
